.container{
      background-color:rgb(25, 34, 54);
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
}

.top-text{
      text-align: center;
      color: rgb(6, 119, 240);
}

.text-top{
      font-size: 1.2em;
}

.text-bottom{
      font-size: 1em;
}

.logo{
      height: 15em;
      width: 15em;
  }

a:link{
      text-decoration: none;
}

.go-button{
      font-size: 1.2em;
      margin-bottom: 1em;
      text-decoration: none;
}