.container{
      background-color:rgb(25, 34, 54);
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
}

.top-text{
      text-align: center;

}
.logo{
      height: 40em;
      width: 40em;
  }

.go-button{

}