.container{
      background-color:rgb(25, 34, 54);
      min-height: 100vh;
      display: flex;
      flex-direction: column;
}

.top-text{
      align-self: center;
}
.logo{
      align-items: center;
      height: 40em;
      width: 40em;
  }

.go-button{
      align-self:end;
}