.search-container{
      display: flex;
      align-items: center;

}

input{
      height: 1.4em;
      font-size: 1em;
      width: 15em;
      color: #BBBDC0;
      border: 0.2em solid #282828;
      border-radius: 0.4em;
      background: #282828;
      padding:0 0.5em;
}

.search-icon{
      font-size: 1.05em;
      position: relative;
      right: 1.5em;
      color: #BBBDC0;
}


@media (min-width: 768px){

      input{
            font-size: 1.5em;
            color: #BBBDC0;
            border: 0.2em solid #282828;
            border-radius: 0.4em;
            background: #282828;
      }

      .search-icon{
            font-size: 1.9em;
      }
}


@media (min-width: 1280px){

      input{
            font-size: 1.5em;
            width: 20em;
      }

      .search-icon{
            font-size: 1.9em;
      }
}

@media (min-width: 1920px){

      input{
            font-size: 1.5em;
            width: 30em;
      }
}

@media (min-width: 2048px){
      .search-icon{
            font-size: 2.4em;
      }

      input{
            font-size: 2em;
      }
}



