.video-player {
  display: flex;
  flex-direction: column;
}

@media (min-width: 1024px) {
  .video-player {
    display: flex;
    flex-direction: column;
  }
  .VideoIframe-cards-container {
    display: flex;
    gap: 0.5em;;
  }
}
