ul li {
  list-style-type: none;
}

.video-thumbnail {
  background-size: cover;
  height: 8em;
  width: 9em;
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
}

.channel-avatar {
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
}

.uploaded{
  width: 100px;
  overflow: hidden;
  text-overflow: nowrap;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.channel-name {
  width: 80px;
  position: relative;
  bottom: 0.8em;
  overflow: hidden;
  text-overflow: nowrap;
  text-overflow: ellipsis;
  white-space: nowrap;
}

a {
  color: #666669;
}

.video-title {
  font-size: 0.9em;
  display: -webkit-box;
  color: #babbbe;
  max-width: 400px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;

}

.channel {
  display: flex;
  flex-direction: column;
  gap: 0em;
  align-content: center;
}

.thumbnail-channel{
  display: flex;
}

.bottom-of-title {
  font-size: 0.8em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  bottom: 0.5em;
}

.title-and-vud{
  padding-right: 0.5em;
}

.single-card {
  display: flex;
  background-color: #282828;
  height: 8em;
  width: 94%;
  border-radius: 0.5em;
  margin: 0 auto;
  align-items: center;
  gap: 0.5em;
}

.cards-container {
  max-height: 25em;
  overflow-y: auto;
  margin-top: 0.5em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding-bottom: 1em;
}

.cards-container::-webkit-scrollbar {
  width: 0 !important;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}


.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.cards-container::-webkit-scrollbar {
  width: 0 !important;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

@media (min-width: 768px) {

  .video-thumbnail {
    height: 12em;
    width: 15em;
  }

  .video-title {
    font-size: 1.5em;
    display: -webkit-box;
    color: #babbbe;
    max-width: 600px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;

  }

  .uploaded{
    width: 200px;
    overflow: hidden;
    text-overflow: nowrap;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .channel-name {
    width: 200px;
    position: relative;
    bottom: 0.8em;
    overflow: hidden;
    text-overflow: nowrap;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .channel {
    display: flex;
    flex-direction: column;
    gap: 0em;
    align-content: center;
  }

  .thumbnail-channel{
    display: flex;
  }

  .bottom-of-title {
    font-size: 1.2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }

  .title-and-vud{
    padding: 0em 0.5em;
    padding-right: 1em;
    position: relative;
    top: -0.2em;
  }

  .single-card {
    display: flex;
    background-color: #282828;
    height: 12em;
    width: 98vw;
    border-radius: 0.5em;
    margin: 0 auto;
    align-items: center;
    gap: 0.5em;
  }

  .cards-container {
    max-height: 38em;
    overflow-y: auto;
    margin-top: 0.5em;
    display: flex;
    flex-direction: column;
    gap: 0.7em;
    padding-bottom: 1em;
  }
}

@media (min-width: 1024px) {
  .video-thumbnail {
    height: 8em;
    width: 10em;
  }

  .video-title {
    font-size: 1em;
    display: -webkit-box;
    color: #babbbe;
    max-width: 220px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;

  }

  .uploaded{
    width: 150px;
    overflow: hidden;
    text-overflow: nowrap;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .channel-name {
    width: 70px;
    position: relative;
    bottom: 0.8em;
    overflow: hidden;
    text-overflow: nowrap;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .channel {
    display: flex;
    flex-direction: column;
    gap: 0em;
    align-content: center;
  }

  .thumbnail-channel{
    display: flex;
  }

  .bottom-of-title {
    font-size: 01em;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .title-and-vud{
    padding: 0em 0.5em;
    padding-right: 1em;
    margin-top:1em;
  }

  .single-card {
    display: flex;
    background-color: #282828;
    height: 8em;
    width: 25em;
    border-radius: 0.5em;
    margin: 0 auto;
    align-items: center;
    gap: 0.5em;
  }

  .cards-container {
    max-height: 87vh;
    overflow-y: auto;
    margin-top: 0.5em;
    display: flex;
    flex-direction: column;
    gap: 0.7em;
    padding-bottom: 1em;
  }
}

@media (min-width: 1440px) {
  .uploaded{
    width: 135px;
  }

}

@media (min-width: 1728px) {
  .cards-container {
    max-height: 58em;
  }
}

@media (min-width: 1920px) {
  .cards-container {
    max-height: 56em;
  }
}


