
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.container{
  min-height: 100vh;
  background: #1A1A1A;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}





